<div class="content-container">
  <div class="content-area">
    <router-outlet></router-outlet>
  </div>

  <nav class="sidenav">
    <section class="sidenav-content">
        <section class="nav-group">
            <input id="tabexample2" type="checkbox">
            <label for="tabexample2">Headlines</label>
            <ul class="nav-list">
                <li *ngFor="let category of categories">
                  <a [routerLink]="['headlines', category.id]" routerLinkActive="active" class="nav-link">{{category.display}}</a>
                </li>
            </ul>
        </section>
        <a routerLink="search" routerLinkActive="active" class="nav-link">
            Search
        </a>
    </section>  
  </nav>
</div>