
<div class="content-container">
    <div class="content-area">
        <div class="clr-row">
            <div class="clr-col-sm-12">
              <h2>Twitter Sentiment Analysis</h2>
              <form clrForm>
                <clr-input-container>
                  <input clrInput placeholder="Search for a Twitter user" name="profile" [(ngModel)]="profile" />
                </clr-input-container>
              </form>
              {{ profile }}
            </div>
          </div>
    </div>
  </div>