<div class="headlines-title">
    <h2>Headlines</h2>
    <span class="label label-{{category.color}}">{{category.display}}</span>
</div>
<div class="card-columns">
    <div *ngFor="let article of articles$ | async" class="card">
        <div class="card-img">
            <img [src]="article.urlToImage" alt="No Image Provided :(">
        </div>
        <div class="card-block">
            <div class="card-title">
                {{article.title}}
            </div>
            <p class="card-text">
                {{article.description}}
            </p>
        </div>
        <div class="card-footer">
          <button [routerLink]="['../../article']" (click)="updateArticle(article)" class="btn btn-sm btn-link">Analyze This Article</button>
      </div>
    </div>
  </div>