<div class="content-container">
    <div class="content-area">
      <div class="tagline">
        <h2>ADP Hackathon</h2>
        <div class="p"><em>Create a brand new Angular app in one weekend.</em></div>
      </div>
      <p>The concept of this application is to search web content (e.g. news articles, Tweets, etc.) and analyze the text content with natural language processors. Click on 'Sentiment Analysis' to get started.</p>
      <p>For more information, view the project <a href="https://github.com/nbcormier/adp-hackathon/blob/master/README.md" target="_blank">README</a>.</p>
    </div>
</div>